body {
  font-family: Helvetica;
  text-align: center;
  margin: auto;
}
.header {
  background-image: url("../the-flatiron-building.png");
  font-size: 18px;
  font-weight: normal;
  color: white;
}
#mainhead {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
.nycbanner {
  font-size: 23px;
  color: white;
  background-image: url("../the-flatiron-building.png")
}
.footer {
  text-align: left;
  background-color: dimgray;
  color: white;
  font-size: 11px;
}
.footnav {
  color: white;
}
